extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Praesent vehicula turpis felis, facilisis placerat metus molestie sollicitudin. Proin sit amet facilisis neque. Praesent leo mauris, blandit sit amet scelerisque id, vestibulum et lectus. Curabitur id sagittis mi. Mauris ac hendrerit libero, dignissim maximus justo.
                p Praesent ipsum elit, sodales non ex at, bibendum vulputate odio. Nunc aliquam ultrices est, tempus facilisis diam pretium et. Aenean laoreet, ligula et dignissim vulputate, massa ante sodales orci, eleifend varius nulla dui vitae erat. Curabitur semper, lectus eget semper aliquet, nibh orci tincidunt ligula.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes
    
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2020 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales