extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  eu scelerisque nunc, in consequat libero. Phasellus dictum lacinia ante, vitae accumsan risus maximus sit amet. Mauris efficitur, nunc sed ornare elementum, lectus sapien bibendum ante, eget feugiat arcu odio quis leo.

                p sapien massa, placerat vel mauris sit amet, mollis faucibus augue. Duis gravida ultrices lacinia. Nunc vestibulum massa vel eros rutrum placerat a nec sapien. Integer finibus nisl mauris. Vestibulum vel enim eget lorem ornare luctus. Donec lorem augue, tincidunt vel placerat vitae, aliquet a justo. Integer ligula nibh, vehicula vitae elit quis, rutrum vulputate felis.

                p elementum auctor arcu, non tempus dui laoreet ut. Nunc sed nibh pulvinar, dignissim lectus a, tempor augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam elementum urna at accumsan malesuada. Nam congue ullamcorper lectus sed tincidunt.

    .listado-iconos 
        .conteiner.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam ante erat, accumsan eget enim non, elementum scelerisque ante. Sed consectetur fermentum sodales.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Aliquam ante erat, accumsan eget enim non, elementum scelerisque ante. Sed consectetur fermentum sodales.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Aliquam ante erat, accumsan eget enim non, elementum scelerisque ante. Sed consectetur fermentum sodales.

